body {
    margin: auto;
    padding: auto;
    font-style: Roboto;
}


.bandeauHeader {
    width: 100%;
    height: 12vh;
    background: #222222;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: auto;
    border-bottom: #0060F1 solid 1vh;


        p {
            margin-right: 2vh;
            color: white;
            font-size: 5vh;
        }

        img {
            width: 7vh;
            margin-left: 3vh;
        }
}

// Partie Form email -------------------------------------------------------------------

.formEmail {
    position: absolute;
    display: none;
    border-bottom: #0060F1 solid 1vh;
    background-color: #222222;
    height: 88.5vh;
    width: 100%;
    justify-content: space-around;
    //align-items: center;
    transition: all 0.3 ease-out;
}

.formEmail.is-visible {
    display: flex;
    
}

#name {
   // border: yellow double 10px;
}

#mail {
   // border: yellow double 10px;
}

#msg {
    height: 45vh;
    width: 50vh;
    background-color: rgb(238, 238, 238);
   // border: yellow double 10px;
}

#nameb {
    color: white;
}

#mailb {
    color: white;
}

#msgb {
    color: white;
}

