body {
    margin: auto;
    padding: auto;
    font-style: Roboto;
}

.bandeauHeader {
    width: 100%;
    height: 16vh;
    background: #222222;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: auto;
    border-bottom: #0060F1 solid 1vh;

    p {
        color: white;
        font-size: 3em;
        text-decoration: underline;
    }
    
    a {
        color: white;
        font-size: 3em;
        text-decoration: none;
    }
}

#form_admin {
    height: 20vh;
    position: relative;
    top: 20vh;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    display: flex;
    border: #0060F1 solid 3px;
    background-color: black;

    label {
        color: white;
    }

    input {
        background-color: aliceblue;
    }
}